@charset 'utf-8';
@import './default.css';

html {
	font-family: 'Noto Serif KR';
	font-size: 14px;
}

body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}

p {
	line-height: 1.6;
}

.global-nav {
	height: 44px;
	margin-left: 14px;
	margin-right: 14px;
	padding: 0 1rem;
}

.local-nav {
	padding: 0 1rem;
}

.global-nav-link{
	height: 100%;
	margin: 0 auto;

	max-width: 1000px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.scroll-section {
	padding-top: 50vh;
}

.scroll-section h1 {
	font-size: 4rem;
	text-align: center;
}

#scroll-section-1 .sub-message {
	font-size: 1.6rem;
	text-align: center;
	font-weight: bold;
}

#scroll-section-1 .left-msg {
	text-align: left;
  margin-left: 10rem;
}
#scroll-section-1 .right-msg {
	text-align: right;
	margin-right: 7rem;
}
.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
	font-size: 2.5rem;
	/* background: rgba(0, 0, 0, 0.5); */
	margin: 5px 0;
}

.main-message p {
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
}

.desc-message p {
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
}

#left-gap {
	margin-left: 3rem;
}

footer {
	text-align: right;
	padding: 2rem;
	background: #999;
	color: white;
}

@media (min-width: 1024px) {

}