@charset 'utf-8';
@import './default.css';

html {
	font-family: 'Noto Serif KR';
	font-size: 14px;
}

body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}

p {
	line-height: 1.6;
}

/* height에 미포함되도록, 포지션 absolute */
.global-nav {
	position: absolute; 
	top: 0;
	left: 0;
	height: 44px;
	margin-left: 14px;
	margin-right: 14px;
	padding: 0 1rem;
}

.local-nav {
	padding: 0 1rem;
}

.global-nav-link{
	height: 100%;
	margin: 0 auto;

	max-width: 1000px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.scroll-section {
	padding-top: 50vh;
	border: 1px solid red;
}

.scroll-section h1 {
	font-size: 4rem;
	text-align: center;
}

.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3em;
	font-size: 2.5rem;
	top: 35%;
	/* background: rgba(0, 0, 0, 0.5); */
	margin: 5px 0;
	opacity: 0;
}

.main-message p {
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
}

#scroll-section-1 .sub-message {
	font-size: 1.6rem;
	text-align: center;
	font-weight: bold;
	opacity: 0;
	top: 25%;
}
#scroll-section-1 .left-msg {
	text-align: left;
  padding-left: 10rem;
}
#scroll-section-1 .right-msg {
	text-align: right;
	padding-right: 10rem;
}
#scroll-section-1 .desc-message {
	top: 25%;
	font-size: 1.6rem;
	line-height: 1.2;
	opacity: 0;
	padding-left: 10px;
}

.sticky-elem {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}


footer {
	text-align: right;
	padding: 2rem;
	background: #999;
	color: white;
}

@media (min-width: 1024px) {
  .scroll-section h1 {
		font-size: 9vw;
	}
	.main-message {
		font-size: 4vw;
	}
	.desc-message {
		font-size: 2vw;
	}
}

@media (max-width: 1024px) {
  #scroll-section-3 .main-message{
		font-size: 4vw;
	}
}